<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/projectable.css" />
    <title>Mr. Perez's App</title>
  </head>
  <body>
    <div id="header">
      <h1>February's Projectables</h1>
    </div>

    <nav id="sessions">

    </nav>
    <a id="menu" href="menu">Menu</a>
    <div id="app"></div>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
    ></script>
    <script src="./scripts/myfunctions.js"></script>
    <script src="scripts/react.js"></script>

  </body>
</html>