<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/menu.css" />
    <title>Menu</title>
  </head>
  <body>
    <h1>Mr. Perez's Resources</h1>
    <div id="container">
      <div class="box"><a href="/"><div
            class="link-title"
          >Projectables</div><img
            src="media/index/projectable.png"
            alt="Projectable"
          /></a></div>
      <div class="box"><a href="/pace"><div
            class="link-title"
          >Schedule</div><img
            src="media/index/math-pace.png"
            alt="Pace"
          /></a></div>
      <div class="box"><a href="/text-images"><div class="link-title">Raz Plus<br
            />
            Quizzes</div><img
            src="media/index/raz-plus.png"
            alt="Raz Plus Quizzes"
          /></a></div>
      <div class="box"><a href="/text-images-language"><div
            class="link-title"
          >Language <br />Quizzes</div><img
            src="media/index/language.jpg"
            alt="Language Quizzes"
          /></a></div>
      <div class="box"><a href="/text-images-math"><div class="link-title">Math
            <br />Quizzes</div><img
            src="media/index/math.jpg"
            alt="Math Quizzes"
          /></a></div>
    </div>
  </body>
</html>