<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/pace.css" />
    <title>Textbook Pace</title>
  </head>
  <body>
    <a id="menu" href="menu">Menu</a>
    <div class="pace">
      <h3>Math Transition A and B</h3>
      <img src="media/index/math-pace.png" alt="Math Pace" />
    </div>
    <div class="pace">
      <h3>Language Transition A</h3>
      <img
        src="media/index/ta-lang-pace.png"
        alt="Transition A Language Pace"
      />
    </div>
    <div class="pace">
      <h3>Language Transition B</h3>
      <img
        src="media/index/tb-lang-pace.png"
        alt="Transition B Language Pace"
      />
    </div>

  </body>
</html>