@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Short+Stack&display=swap");
* {
  font-family: "Gaegu", cursive;
  font-family: "Short Stack", cursive;
  color: #404040;
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
}
h1 {
  display: block;
  margin: 10px auto;
  background-color: lightgreen;
  width: fit-content;
  font-size: 36px;
  padding: 20px;
  border-radius: 30px;
}
#container {
  text-align: center;
}
.box {
  display: inline-block;
  margin: 20px;
  background-color: white;
  width: fit-content;
  font-size: 36px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
}
a {
  text-decoration: none;
}
.link-title {
  padding: 3px;
  border-radius: 20px;
  border: 1px solid black;
  margin-bottom: 15px;
}
img {
  height: 300px;
}
