@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Short+Stack&display=swap");
* {
  font-family: "Gaegu", cursive;
  font-family: "Short Stack", cursive;
  color: #404040;
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
  margin: 20px 150px;
  text-align: center;
}
#menu {
  position: fixed;
  left: 20px;
  top: 20px;
  font-size: 24px;
  text-decoration: none;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid black;
  font-style: italic;
}
h3 {
  background-color: white;
  width: fit-content;
  padding: 3px;
  border-radius: 15px;
}
